body{
    color: #431c5b;
}

.bg-dark {
    background-color: #502262!important;
}

.btn-primary{
    background-color: #07839d;
    border-color: #07839d;
}

.article-title{
    font-size: 1.3em;
    color: #013e5a;
}

.navbar-toggler{
    font-size: 0.8rem;
    border-radius: 0.15rem;
}

.doe-buddy{
    flex-flow: row wrap;
    align-items: center;
    align-content: flex-end;
}

.doe-buddy span{
    color: #e59c33;
    font-weight: bold;
}

.doe-buddy img{
    opacity: 0;
    width: 0em;
    margin-left: 10px;
}

.redes li{
    margin-left: 20px;
}

.redes i{
    font-size: 2.3em;
    font-weight: ;
    color: #0bb3c0;
}

#snoop_doggy_doe_pic{
    cursor: pointer;
}

#loader-xhr{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

section h2{
    font-size: 1.4em;
    text-transform: uppercase;
}

.lomitos .card{
    border: none;
    background-color: transparent;
}

.lomitos .card img{
    width: 80%;
    margin: auto;
}

#contact{
   padding-top: 4em !important; 
   padding-bottom: 4em; 
}

#contact label, #contact h4, #contact p {
    color: #07839d;
}

.warn-message{
    border-left:#b91313 1px solid;
    border-right:#b91313 1px solid;
    border-bottom:#b91313 1px solid;
    color: #b91313;
    font-size: .88em;
}

#map { 
    height: 460px; 
}